# Swift Package Manager
.build/
*.resolved

# Xcode
*.xcodeproj/
*.xcworkspace/
xcuserdata/
DerivedData/
.swp

# JetBrains / AppCode
.idea/
*.iml

# Run configurations
.run/

# Worktrees
.worktrees/

# macOS
.DS_Store
